{% extends 'tab/base.html' %}

{% block title %} Таблица учёта {% endblock %}
{% block content %}

<table class="table">
  <thead>
    <tr>
      <th>Артикул</th>
      <th>Модель</th>
      <th>Цвет</th>
      <th>Размер</th>
      <th>Состав</th>
      <th>Поставили</th>
      <th>На складе</th>
      <th>Продавец</th>
    </tr>
  </thead>
  <tbody>
    {% for p in delivery %}
        <tr>
            <td>{{ p.art }}</td>
            <td>{{ p.model }}</td>
            <td>{{ p.color }}</td>
            <td>{{ p.size }}</td>
            <td>{{ p.structure }}</td>
            <td>{{ p.shipment }}</td>
            <td>{{ p.remains }}</td>
            <td>{{ p.seller }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

